<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- @table -->
    <!-- @tableDefinition -->
    <table border="1" cellspacing="0" cellpadding="5px" style="border: 1px solid rgb(146, 140, 140); border-collapse: collapse;">
    <!-- @tableDefinition@ -->
        <!-- @tableTitle -->
        <thead>
            <tr colspan="4">{{titleTable}}</tr>
        </thead>
        <!-- @tableTitle@ -->
        
        <!-- @tableBody -->
        <tbody>
            <!-- @ColumnNames -->
            <tr style="color: white; background-color: #00bfff; text-align: center; font-weight: bold;">
                <td>Repository</td>
                <td>Feature UID</td>
                <td>Fields</td>
                <td style="width: 500px;">Updates</td>
                <td>Deleted</td>
            </tr>
            <!-- @ColumnNames@ -->

            <!-- @Repository -->
            <tr style="background-color: #b6e0ee;">                
                <!-- @RepositoryName -->
                <td rowspan="6" style="text-align:center; background-color: #cbe5ee;">{{repositoryName}}Stage</td>
                <!-- @RepositoryName@ -->

                <!-- @FeatureID -->
                <td rowspan="2" style="text-align:center;">{{featureID}}1111</td>
                <!-- @FeatureID@ -->

                <!-- @FieldName -->
                <td>{{fieldName}}Description</td>
                <!-- @FieldName@ -->

                <!-- @Updated -->
                <td>
                    <span style="color: rgb(63, 61, 61);">
                        <span style="font-weight: bold; color: rgb(66, 65, 65);">Old Value: </span>
                        {{oldValue}} User for testing. User for testing. User for testing. User for testing User for testing User for testingUser for testingUser for testing.
                    </span><br/>
                    <span style="color: rgb(63, 61, 61);">
                        <span style="font-weight: bold; color: rgb(66, 65, 65);">New Value:</span>
                         {{newValue}} User for testing 1
                    </span>                    
                </td>
                <!-- @Updated@ -->

                <!-- @Deleted -->
                <td style="text-align: center;" >{{deleted}}false</td>
                <!-- @Deleted@ -->
            </tr>
            <tr style="background-color: #b6e0ee;">                
                <td>OffFor</td>
                <td>Old Value: User for testing.<br/>
                    New Value: User for testing 1
                </td>
                <td style="text-align: center;" >false</td>
            </tr>
            <!-- Feature 2 -->
            <tr style="background-color: #8fd4eb;">                
                <td rowspan="4" style="text-align:center;">222</td>
                <td>Description</td>
                <td>Old Value: User for testing.<br/>
                    New Value: User for testing 1
                </td>
                <td>false</td>
            </tr>
            <tr style="background-color: #8fd4eb;">                
                <td>OffFor</td>
                <td>Old Value: User for testing.<br/>
                    New Value: User for testing 1
                </td>
                <td>false</td>
            </tr>
            <tr style="background-color: #8fd4eb;">                
                <td>OffFor</td>
                <td>Old Value: User for testing.<br/>
                    New Value: User for testing 1
                </td>
                <td>false</td>
            </tr>
            <tr style="background-color: #8fd4eb;">                
                <td>OffFor</td>
                <td>Old Value: User for testing.<br/>
                    New Value: User for testing 1
                </td>
                <td>false</td>
            </tr>
            <!-- @Repository@ -->
        </tbody>
        <!-- @tableBody -->
    </table>
    <!-- @table@ -->
</body>
</html>
