<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- @table -->
    <!-- @tableDefinition -->
    <!-- <table border="2" cellspacing="0" cellpadding="1px" style="border: 3px solid rgb(146, 140, 140); border-collapse: collapse;"> -->
    <table border="1" cellspacing="0" cellpadding="1px" style="border: 1px solid rgb(146, 140, 140); border-collapse: collapse;">    
        <!-- @tableDefinition@ -->
        <!-- @tableTitle -->
        <thead>
            <tr colspan="4">{{titleTable}}</tr>
        </thead>
        <!-- @tableTitle@ -->
        <!-- @tableBody -->
        <tbody>
            <!-- @ColumnNames -->
            <tr style="color: white; background-color: #00bfff; text-align: center; font-weight: bold;">
                <td colspan="6"> Stage</td>
                <td colspan="6"> Japan</td>
                <td colspan="6"> Production</td>
            </tr>
            <!-- @ColumnNames@ -->

            <tr style="color: white; background-color: #7aacbb; text-align: center; font-weight: bold;">
                <td>Feature UID</td>
                <td>Description</td>
                <td>OffFor</td>
                <td>OnFor</td>
                <td>Version</td>
                <td>Owner</td>

                <td>Feature UID</td>
                <td>Description</td>
                <td>OffFor</td>
                <td>OnFor</td>
                <td>Version</td>
                <td>Owner</td>

                <td>Feature UID</td>
                <td>Description</td>
                <td>OffFor</td>
                <td>OnFor</td>
                <td>Version</td>
                <td>Owner</td>
            </tr>
            <tr>
                <td>{{featureUID}}</td>
                <td>{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>

                <td>{{featureUID}}</td>
                <td>{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>

                <td>{{featureUID}}</td>
                <td>{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>
            </tr>

            <tr>
                <td>{{featureUID}}</td>
                <td>{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>

                <td>{{featureUID}}</td>
                <td>{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>

                <td>{{featureUID}}</td>
                <td>{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>
            </tr>

            <tr>
                <td>{{featureUID}}</td>
                <td>{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>

                <td>{{featureUID}}</td>
                <td>{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>

                <td>{{featureUID}}</td>
                <td>{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}{{description}}</td>
                <td>{{offFor}}</td>
                <td>{{onFor}}</td>
                <td style="color: rgb(17, 16, 16); background-color: yellow; text-align: center; font-weight: bold;">{{version}}</td>
                <td>{{owner}}</td>
            </tr>

        </tbody>
        <!-- @tableBody -->
    </table>
    <!-- @table@ -->
</body>
</html>
